*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* main */

.main{
    display: flex;
    background-color: rgb(194, 194, 185);

}
#maha{
    color: rgb(140, 22, 22);
}


#menu{
    height: 100vh;
    width:260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(136, 125, 125);

    position: relative;
    color: white;


    *{
        z-index: 1;
    }

}


#menu #logo{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 15px 0px;
}

#menu .options{

    display: flex;
    flex-direction: column;
    gap:10px;
    

    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 15px 0px;
        display: flex;
        width: 260px;
        justify-content: center;


    }
    #is{
        background-color: rgba(71, 79, 84, 0.753);
        color:rgb(0, 170, 255);;
    }

}


.content{
    background-color: rgb(245, 245, 234);
    width: 300px;
    height: 200px;
    justify-content: center;
    justify-items: center;
    display: flex;
    border: 2px solid black;
    border-radius: 50px;
    margin-left: 420px;
    margin-top: 200px;

}
button{
    height: 40px;
    width: 100px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50px;
    margin-left: 60px;
    background-color: black;
    color: white;
}
.log{
    height: auto;
    width: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 50px;
    margin-top: 20px;
    color: white;
    background-color: red;
    
}
